.App {
  display: inherit;
}

.header-nav {
  height: 90px;
  background: #fff;
  border-bottom: 5px solid #88bee8;
  margin-bottom: 40px;
}

.logo-box {
  position: relative;
  top: 36px;
  text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.cart-box {
  font-size: 18px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 3px solid #333;
}

.user-box {
  margin-left: 20px;
  color: #db3229;
  font-size: 18px;
}

.logout {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.product-list {
  text-align: center;
}

.remove-cart_btn {
  background: transparent;
  border: 0px;
  color: #db2828;
  margin-left: 15px;
  cursor: pointer;
}

.catalog-price {
  color: #FF9800;
  position: relative;
  top: 4px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
